name: Check Aws Access

on:
  push:
    branches:
      - main

permissions:
  id-token: write
  contents: read

jobs:
  check-access:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          role-to-assume: arn:aws:iam::333136438415:role/github-actions-openid-demo
          role-session-name: samplerolesession
          aws-region: us-east-1

      - name: Verify AWS credentials
        run: aws sts get-caller-identity
